body{
  background: #f8f8f8;
}

.App {
  display: flex;
  width: 100%;
  overflow: hidden;
  font-size: 16px;
  overflow-y: auto;
  @media screen and (max-width:1000px) { 
    display: block;
  }
}

.no-post{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-sidebar {
  width: 300px;
  height: 100vh;
  box-shadow: 2px 0px 10px -5px #777777;
  position: fixed;
  @media screen and (max-width:1000px) { 
    position: static;
    width: 100%;
    height: auto;
  }
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    button {
      outline: none;
      border: none;
      background: #a436f1;
      color: #fff;
      cursor: pointer;
      font-size: 20px;
      padding: 3px 15px;
      border-radius:9999px;
      margin-top: 20px;
      &::before{
        content: "+";
        font-size: 40px;
        display: block;
      }
    }
  }

  &-title {
    display: flex;
    justify-content: space-between;
    align-items: start;
    @media screen and (max-width:1000px) { 
      display: block;
    }
    strong{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }
    button {
      outline: none;
      border: none;
      background: none;
      cursor: pointer;
      border-radius:9999px;
      background-color: #a436f1;
      color: #fff;
      flex: 0 0 40px;
      @media screen and (max-width:1000px) { 
        display: block;
        margin: 0 0 0 auto;
      }
    }
  }

  &-content{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }

  &-notes {
    height: calc(100vh - 185px);
    overflow-y: auto;
    text-align: left;
    padding: 20px;
    background:#3a3a3a ;
    margin: 10px;
    border-radius: 10px;
    @media screen and (max-width:1000px) { 
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(2, 50%);
      height: auto;
    }
  }

  &-note {
    background: #fff;
    box-shadow: 0px 0px 10px -5px #777777;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
    @media screen and (max-width:1000px) { 

    }
    &:hover:not(.active){
      opacity: .6;
      button{
        opacity: 1;
      }
    }
    &.active {
      background-color: #00927D;
      color: #fff;
    }
  }
}

.app-main {
  width: 70%;
  padding: 30px;
  margin-left: 300px;
  margin-bottom: 30px;
  @media screen and (max-width:1000px) { 
    width: 95%;
    margin: 0 auto;
    padding: 0px;
  }
  input {
    width: 100%;
    height: 50px;
    font-size: 20px;
    display: block;
    margin: 30px 0;
    padding: 0 10px;
    @media screen and (max-width:1000px) { 
      margin: 80px 0 30px 0;
      padding: 0;
    }
  }
  textarea {
    width: 100%;
    height: 30vh;
    font-size: 16px;
    display: block;
    resize: none;
    padding: 10px;
    @media screen and (max-width:1000px) { 
      margin: 0;
      padding: 0;
    }
  }

  &-note-preview {
    margin-top: 100px;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0px 0px 15px -5px #777777;
    border-radius: 10px;
    padding: 20px;
    @media screen and (max-width:1000px) { 
      margin-bottom: 100px;
    }
  }
}
